# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

Watch list = (<span style="font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Stranger Things,&nbsp;</span>  <span style="font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Better Call Saul,&nbsp;</span> <span style="font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Dark</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 12px;">)</span>

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [16]:
import pandas as pd
import sqlite3 as sl

data = pd.read_csv('tv_shows.csv') #create a dataframe from the provided CSV

data.head(20)#create a dataframe from the provided CSV

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1
10,10,11,Mindhunter,2017,18+,8.6/10,90/100,1,0,0,0,1
11,11,12,Community,2009,7+,8.5/10,90/100,1,1,1,0,1
12,12,13,Narcos,2015,18+,8.8/10,90/100,1,0,0,0,1
13,13,14,Shameless,2011,18+,8.5/10,90/100,1,1,1,0,1
14,14,15,Money Heist,2017,18+,8.3/10,90/100,1,0,0,0,1
15,15,16,Marvel's Daredevil,2015,18+,8.6/10,90/100,1,0,0,0,1
16,16,17,Lucifer,2016,16+,8.1/10,90/100,1,0,0,0,1
17,17,18,Supernatural,2005,16+,8.4/10,89/100,1,0,0,0,1
18,18,19,The Witcher,2019,18+,8.2/10,89/100,1,0,0,0,1
19,19,20,Ozark,2017,18+,8.4/10,89/100,1,0,0,0,1

In [17]:
print(data.info)

<bound method DataFrame.info of       Unnamed: 0    ID                                  Title  Year  Age  \
0              0     1                           Breaking Bad  2008  18+
1              1     2                        Stranger Things  2016  16+
2              2     3                        Attack on Titan  2013  18+
3              3     4                       Better Call Saul  2015  18+
4              4     5                                   Dark  2017  16+
...          ...   ...                                    ...   ...  ...
5363        5363  5713                       Paradise Islands  2017  NaN
5364        5364  5714                         Mexico Untamed  2018  NaN
5365        5365  5715                  Wild Centeral America  2020  NaN
5366        5366  5716                            Wild Russia  2018  NaN
5367        5367  5717  Fearless Adventures with Jack Randall  2018  NaN

        IMDb Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
0     9.4/10         100/100        1     0            0        0     1
1     8.7/10          96/100        1     0            0        0     1
2     9.0/10          95/100        1     1            0        0     1
3     8.8/10          94/100        1     0            0        0     1
4     8.8/10          93/100        1     0            0        0     1
...      ...             ...      ...   ...          ...      ...   ...
5363     NaN          10/100        0     0            0        1     1
5364     NaN          10/100        0     0            0        1     1
5365     NaN          10/100        0     0            0        1     1
5366     NaN          10/100        0     0            0        1     1
5367     NaN          10/100        0     0            0        1     1

[5368 rows x 12 columns]>

In [18]:
# this method to make a new database called exercises.db.

con = sl.connect('Tv_show.db')

# convert dataframe to table in the database Tv_show
data.to_sql('tv_shows', con) # tv_shows-table name in database

ValueError: Table 'tv_shows' already exists.

In [39]:
# displays the rows in tv_show table
data2 = con.execute('SELECT * FROM tv_shows limit 4')
for row in data2:
    print(row)

(0, 0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)

In [ ]:
#dataframe.drop('column_name',index)
#dataframe.rename(columns = {'old_column_name1':'new_column_name1','old_column_name2':'new_column_name2'})

In [19]:

#data2 = con.execute("ALTER TABLE tv_shows DROP COLUMN 'Unnamed: 0' ") # drop the column called Unnamed: 0 

data2 = con.execute('SELECT * FROM tv_shows limit 4') # displays the rows in tv_show table
for row in data2:
    print(row)

(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)

In [21]:
# rename any columns with spaces in the names or unusual characters such as "+"
data2 = con.execute("ALTER TABLE tv_shows RENAME 'Disney+' to 'Disney'")

OperationalError: no such column: "'Disney+'"

In [23]:
# read in your SQL query results using pandas

# tv_shows table in Tv_show database
dataframe = pd.read_sql("""
            SELECT *
            FROM tv_shows
            """,  con)


data_new = dataframe.drop(['index'], axis=1) # drop the column called index
#dataframe.head()

In [26]:
data_new = data_new.rename(columns = {'Rotten Tomatoes':'Rotten_Tomatoes','Prime Video':'Prime_Video'})

# Print out the info for the dataframe again to ensure that your changes were effective.

data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten_Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime_Video      5368 non-null   int64
 9   Disney           5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB

In [ ]:
#data_new to sql()

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

With your new table and database set up, print out the top 20 records in the `shows` table.

In [29]:
# With your dataframe at the ready, create a new database called tv. 

connect  = sl.connect('tv.db')

#Add a new table to your database called shows using the data in the dataframe.

data_new.to_sql('shows', connect) # tv_shows-table name in database

ValueError: Table 'shows' already exists.

In [30]:
print(data_new.head(20))

    ID                       Title  Year  Age    IMDb Rotten_Tomatoes  \
0    1                Breaking Bad  2008  18+  9.4/10         100/100
1    2             Stranger Things  2016  16+  8.7/10          96/100
2    3             Attack on Titan  2013  18+  9.0/10          95/100
3    4            Better Call Saul  2015  18+  8.8/10          94/100
4    5                        Dark  2017  16+  8.8/10          93/100
5    6  Avatar: The Last Airbender  2005   7+  9.3/10          93/100
6    7              Peaky Blinders  2013  18+  8.8/10          93/100
7    8            The Walking Dead  2010  18+  8.2/10          93/100
8    9                Black Mirror  2011  18+  8.8/10          92/100
9   10          The Queen's Gambit  2020  18+  8.6/10          92/100
10  11                  Mindhunter  2017  18+  8.6/10          90/100
11  12                   Community  2009   7+  8.5/10          90/100
12  13                      Narcos  2015  18+  8.8/10          90/100
13  14                   Shameless  2011  18+  8.5/10          90/100
14  15                 Money Heist  2017  18+  8.3/10          90/100
15  16          Marvel's Daredevil  2015  18+  8.6/10          90/100
16  17                     Lucifer  2016  16+  8.1/10          90/100
17  18                Supernatural  2005  16+  8.4/10          89/100
18  19                 The Witcher  2019  18+  8.2/10          89/100
19  20                       Ozark  2017  18+  8.4/10          89/100

    Netflix  Hulu  Prime_Video  Disney  Type
0         1     0            0       0     1
1         1     0            0       0     1
2         1     1            0       0     1
3         1     0            0       0     1
4         1     0            0       0     1
5         1     0            1       0     1
6         1     0            0       0     1
7         1     0            0       0     1
8         1     0            0       0     1
9         1     0            0       0     1
10        1     0            0       0     1
11        1     1            1       0     1
12        1     0            0       0     1
13        1     1            1       0     1
14        1     0            0       0     1
15        1     0            0       0     1
16        1     0            0       0     1
17        1     0            0       0     1
18        1     0            0       0     1
19        1     0            0       0     1

In [38]:
 #print out the top 20 records in the shows table.

data3 = connect.execute('SELECT * FROM shows limit 20')
for row in data3:
    print(row)

(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(4, 5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(5, 6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(6, 7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(7, 8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(8, 9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(9, 10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(10, 11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(11, 12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(12, 13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(13, 14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(14, 15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(15, 16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(16, 17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(17, 18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(18, 19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(19, 20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now add a table that includes an id number and the titles on your watchlist.

In [114]:
# Create a new table in your database that includes an id number and the titles on your watchlist.
with connect:
    connect.execute("""
    CREATE TABLE watchlist(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        titles TEXT
        );
    """)

OperationalError: table watchlist already exists

In [167]:
# Add your id number and the titles on your watchlist
#sql = 'INSERT INTO watchlist (titles) VALUES(?)'
#data = [
 #   ('Stranger Things'),  
  #  ('Better Call Saul'),
   # ('Dark')
#]
#with connect:
 #   connect.executemany(sql, data)

connect.execute("INSERT INTO watchlist (titles) VALUES('Better Call Saul'),('Stranger Things'),('Dark')")

In [168]:
data = connect.execute('SELECT * FROM watchlist')
for row in data:
    print(row)

(1, 'Better Call Saul')
(2, 'Stranger Things')
(3, 'Dark')

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [69]:
 print(data_new.describe())

data_new.groupby(['Netflix','Hulu','Prime_Video','Disney']).value_counts()

print(data_new['Netflix'].value_counts())
print(data_new['Hulu'].value_counts())
print(data_new['Prime_Video'].value_counts())
print(data_new['Disney'].value_counts())
#or
#streaming = connect.execute('SELECT COUNT(Netflix) AS Netflix FROM shows WHERE NETFLIX = 1')
#streaming = connect.fetchmany(size)
#print(streaming)

                ID         Year      Netflix         Hulu  Prime_Video  \
count  5368.000000  5368.000000  5368.000000  5368.000000  5368.000000
mean   2814.945790  2012.628726     0.367176     0.301975     0.341095
std    1672.385727    10.142813     0.482080     0.459157     0.474122
min       1.000000  1904.000000     0.000000     0.000000     0.000000
25%    1345.750000  2011.000000     0.000000     0.000000     0.000000
50%    2788.000000  2016.000000     0.000000     0.000000     0.000000
75%    4308.250000  2018.000000     1.000000     1.000000     1.000000
max    5717.000000  2021.000000     1.000000     1.000000     1.000000

            Disney    Type
count  5368.000000  5368.0
mean      0.065387     1.0
std       0.247231     0.0
min       0.000000     1.0
25%       0.000000     1.0
50%       0.000000     1.0
75%       0.000000     1.0
max       1.000000     1.0
0    3397
1    1971
Name: Netflix, dtype: int64
0    3747
1    1621
Name: Hulu, dtype: int64
0    3537
1    1831
Name: Prime_Video, dtype: int64
0    5017
1     351
Name: Disney, dtype: int64

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [171]:
#streaming_df = pd.read_sql("SELECT *\
#FROM watchlist inner Join shows as s ON  watchlist.titles = s.Title; ", connect)

streaming_df = pd.read_sql("SELECT watchlist.titles, s.Netflix, s.Hulu,s.Disney  \
FROM watchlist \
JOIN shows as s \
ON  watchlist.titles = s.Title; \
", connect)

print(streaming_df.head(3))
print(streaming_df.info())
#percentage of your watchlist shows that are on each streaming service
print(streaming_df.describe())

#number on each streaming service.
print(streaming_df['Netflix'].value_counts())
print(streaming_df['Hulu'].value_counts())
print(streaming_df['Disney'].value_counts())

             titles  Netflix  Hulu  Disney
0  Better Call Saul        1     0       0
1   Stranger Things        1     0       0
2              Dark        1     0       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   titles   3 non-null      object
 1   Netflix  3 non-null      int64
 2   Hulu     3 non-null      int64
 3   Disney   3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes
None
       Netflix  Hulu  Disney
count      3.0   3.0     3.0
mean       1.0   0.0     0.0
std        0.0   0.0     0.0
min        1.0   0.0     0.0
25%        1.0   0.0     0.0
50%        1.0   0.0     0.0
75%        1.0   0.0     0.0
max        1.0   0.0     0.0
1    3
Name: Netflix, dtype: int64
0    3
Name: Hulu, dtype: int64
0    3
Name: Disney, dtype: int64

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?

Answer

1\. Yes, 

2\. Yes, I did. it only gave 100% as percentage of my watchlist shows that are on each streaming service  which might make the analysis to be skewed or bias

3\. Netflix offfered the most shows while Hulu and Disney offfered the least shows

4\. Netflix